<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.gcmClient.app" >

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GET_ACCOUNTS recquired prior to 4.0.4 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Permission to prevent other applications from subscribing to our notifications -->
    <permission
        android:name="com.demo.gcmClient.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.demo.gcmClient.app.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.demo.gcmClient.services.GcmIntentService" />

        <receiver
            android:name="com.demo.gcmClient.receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- for some reason on my 4.0.4 device, RECEIVE isn't sent, only REGISTRATION -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <!--<action android:name="com.google.android.c2dm.intent.GCM_RECEIVED_ACTION" />-->
                <category android:name="com.demo.gcmCient.app"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
    </application>

</manifest>
